services:
  kafka:
    container_name: kafka_server
    image: bitnamilegacy/kafka
    ports:
      - "9092:9092"
      - "29092:29092"
    environment:
      - KAFKA_CFG_NODE_ID=0
      - "KAFKA_CFG_PROCESS_ROLES=controller,broker"
      - "KAFKA_CFG_LISTENERS=PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093,EXTERNAL://0.0.0.0:29092"
      - "KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT,EXTERNAL:PLAINTEXT"
      - "KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=0@localhost:9093"
      - KAFKA_CFG_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - "KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092,EXTERNAL://localhost:29092"
      - KAFKA_CFG_AUTO_CREATE_TOPICS_ENABLE=true
      - ALLOW_PLAINTEXT_LISTENER=yes
    volumes:
      - kafka_data:/bitnami/kafka
    networks:
      - trustmebro-network
    restart: unless-stopped
    healthcheck:
      test:
        - CMD-SHELL
        - "kafka-broker-api-versions.sh --bootstrap-server localhost:9092 || exit 1"
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  user-access:
    image: caophi562005/trustmebro-user-access
    pull_policy: always
    env_file:
      - .env
    ports:
      - "3000:3000"
      - "5000:5000"
    depends_on:
      kafka:
        condition: service_healthy
    restart: unless-stopped
    networks:
      - trustmebro-network

  media:
    image: caophi562005/trustmebro-media
    pull_policy: always
    env_file:
      - .env
    ports:
      - "3001:3001"
      - "5001:5001"
    depends_on:
      kafka:
        condition: service_healthy
    restart: unless-stopped
    networks:
      - trustmebro-network

  role:
    image: caophi562005/trustmebro-role
    pull_policy: always
    env_file:
      - .env
    ports:
      - "3002:3002"
      - "5002:5002"
    depends_on:
      kafka:
        condition: service_healthy
    restart: unless-stopped
    networks:
      - trustmebro-network

  web:
    image: caophi562005/trustmebro-web
    pull_policy: always
    env_file:
      - .env
    ports:
      - "3100:3100"
    depends_on:
      kafka:
        condition: service_healthy
      role: # Thêm dependency này
        condition: service_started
    restart: unless-stopped
    networks:
      - trustmebro-network

networks:
  trustmebro-network:
    driver: bridge
    name: trustmebro-network
volumes:
  kafka_data:
    driver: local
