services:
  report:
    image: caophi562005/trustmebro-report
    pull_policy: always
    mem_limit: 256m
    memswap_limit: 512m
    env_file:
      - .env
    environment:
      - REPORT_SERVICE_GRPC_URL=0.0.0.0:5010
    # ports:
    #   - "3002:3002"
    # depends_on:
    #   kafka:
    #     condition: service_healthy
    restart: unless-stopped
    networks:
      - trustmebro-network
    healthcheck:
      test: ["CMD", "nc", "-z", "localhost", "5011"]
      interval: 60s
      timeout: 20s
      retries: 3
      start_period: 60s

networks:
  trustmebro-network:
    external: true
