services:
  web:
    image: caophi562005/trustmebro-seller
    pull_policy: always
    mem_limit: 256m
    memswap_limit: 512m
    env_file:
      - .env
    ports:
      - "3300:3300"
    # depends_on:
    #   kafka:
    #     condition: service_healthy
    #   role: # Thêm dependency này
    #     condition: service_started
    restart: unless-stopped
    networks:
      - trustmebro-network
    healthcheck:
      test:
        [
          "CMD-SHELL",
          'node -e "fetch(''http://localhost:3300/api/v1/health/readiness'').then(r=>process.exit(r.ok?0:1)).catch(()=>process.exit(1))"',
        ]
      interval: 60s
      timeout: 20s
      retries: 3
      start_period: 60s

networks:
  trustmebro-network:
    external: true
