services:
  role:
    image: caophi562005/trustmebro-role
    pull_policy: always
    mem_limit: 256m
    memswap_limit: 512m
    # env_file:
    #   - .env
    # ports:
    #   - "3002:3002"
    # depends_on:
    #   kafka:
    #     condition: service_healthy
    environment:
      ENV_FILE: ${ENV_FILE}
    command: >
      sh -lc 'echo "$ENV_FILE" | base64 -d > .env && set -a && . ./.env && set +a && node dist/apps/services/role/main.js'
    restart: unless-stopped
    networks:
      - trustmebro-network
    healthcheck:
      test:
        [
          "CMD-SHELL",
          'node -e "fetch(''http://localhost:3002/api/v1/health/readiness'').then(r=>process.exit(r.ok?0:1)).catch(()=>process.exit(1))"',
        ]
      interval: 60s
      timeout: 20s
      retries: 3
      start_period: 60s

networks:
  trustmebro-network:
    external: true
