name: CI/CD

on:
  push:
    branches:
      - sauvole565
  pull_request:

permissions:
  actions: read
  contents: read

jobs:
  docker:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        service:
          - name: user-access
            dockerfile: apps/services/user-access/Dockerfile
    steps:
      - uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Generate tag
        id: tag
        run: echo "TAG=${GITHUB_SHA::7}" >> $GITHUB_OUTPUT

      - name: Build and Push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ${{ matrix.service.dockerfile }}
          push: ${{ github.event_name != 'pull_request' }}
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/trustmebro-${{ matrix.service.name }}:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/trustmebro-${{ matrix.service.name }}:${{ steps.tag.outputs.TAG }}
          cache-from: type=registry,ref=${{ secrets.DOCKERHUB_USERNAME }}/trustmebro-${{ matrix.service.name }}:buildcache
          cache-to: type=registry,ref=${{ secrets.DOCKERHUB_USERNAME }}/trustmebro-${{ matrix.service.name }}:buildcache,mode=max
